{{#if addNewQuestion}}
  <h2>excuse me, i have a (new) question!</h2>
    <form >
      <div class="form-group">
          <label for="content">question</label>
          {{input value=content id="content"}}
        </div>
        <div class="form-group">
            <label for="author ">author</label>
            {{input value=author id="author"}}
          </div>
          <div class="form-group">
          <label for="note">note</label>
          {{input value=note id="note"}}
        </div>
        <button {{action 'save1'}}>save</button>
    </form>
{{else}}
  <button {{ action 'questionFormShow'}}>new question</button>
{{/if}}
